@font-face {
    font-family: 'NAME OF THE FONT';
    /* DONT USE SPACES OR ACCCENTS */
    src: url();
    /* Location du fichier */
    font-weight: bold;
    /* Text en gras... */
    font-style: italic;
    /* Text Italique.... */
}

div>div {
    /* Hover Over */
}

div+div {
    /* hover over */
}

div div {
    /* hover over */
}

div~div {
    /* hover over */
}

div:first-of-type {
    /* First of that type */
}

div:last-of-type {
    /* last of that type */
}

div:first-child {
    /* First of that child */
}

div:last-child {
    /* last of that child */
}

:invalid {
    /* if invalid in a from */
}

:valid {
    /* if Valid in a form */
}

:required {
    /* if required in a form */
}

[required] {
    /* if required in a form */
}

div:only-child {
    /* no point in using */
}

a[href^="http"] {
    /* hover over */
}

a[href$="http"] {
    /* hover over */
}

a[href*="http"] {
    /* hover over */
}

img[alt*="vacance"] {
    /* hover over */
}

div p:nth-of-type(2) {
    /* Second of Type */
}

div p:nth-child(2) {
    /* Second Child */
}

div p:nth-child(4n) {
    /* Every 4 */
}

div p:nth-child(even) {
    /* Toute les pair */
}

div p:nth-child(odd) {
    /* toute les impair */
}

div p:nth-child(4n + 2) {
    /* Every 4 starting on the second one... */
}

:target {
    /* When you follow an id */
}

p::first-line {
    /* the first line of the P, changes depending on the page size... */
}

p::first-letter {
    /* Same as ^ but letter */
}

p::before {
    /* you can add before the element */
}

p::after {
    /* you can add after the element */
}