:root {
    --black: #0A0908;
    --red: #49111C;
    --white: #F2F4F3;
    --light_brown: #A9927D;
    --dark_brown: #5E503F;
}

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    display: grid;
    grid-template-rows: 50% 50%;
    position: fixed;
    background-color: var(--red);
    color: var(--white);
    height: 15vh;
    width: 100vw;
}

header h1 {
    font-size: 40px;
    text-align: center;
}

header div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0% 25% 0% 25%;
}

header a {
    display: flex;
    background-color: var(--white);
    border-radius: 50%;
    text-decoration: none;
    color: var(--black);
    padding: 12px;
}

header a:hover {
    background-color: var(--light_brown);
}

#home {
    width: 100vw;
    height: 100vh;
    background-color: var(--black);
}

#About {
    width: 100vw;
    height: 100vh;
    background-color: red;
}

#Projects {
    width: 100vw;
    height: 100vh;
    background-color: blue;
}

#Contact {
    width: 100vw;
    height: 100vh;
    background-color: green;
}